[2012-12-14 06:37] pjohnmeyer opened #2 "Incorporate changes from SourceForge svn repository"
Determine if there are any unincorporated changes from the SVN repo at https://unittest-cpp.svn.sourceforge.net/svnroot/unittest-cpp and evaluate, incorporate.

[2012-12-14 06:38] pjohnmeyer opened #3 "Incorporate changes from Google Code svn repository"
Bring changes from http://unittestpp.googlecode.com/svn/trunk/ into master.

[2012-12-14 06:44] pjohnmeyer opened #4 "Disposition all open tracker items on SourceForge"
[HERE](http://sourceforge.net/tracker/?group_id=158151)

[2012-12-14 06:45] pjohnmeyer opened #5 "Disposition all open tracker items on Google Code"
[HERE](http://code.google.com/p/unittestpp/issues/list)

[2012-12-14 06:47] pjohnmeyer opened #6 "Migrate and update existing documentation from SourceForge"
http://unittest-cpp.sourceforge.net/
http://unittest-cpp.sourceforge.net/UnitTest++.html
http://unittest-cpp.sourceforge.net/money_tutorial/

[2013-01-17 04:53] pjohnmeyer opened #7 "Consider changing UnitTest::Check signature to take value by const reference."
From https://sourceforge.net/tracker/?func=detail&aid=2604261&group_id=158151&atid=806684

As of v.1.4, UnitTest::Check() takes a value by copy, however, due to copy constructors, calling this function can have side effects. I feel it is preferable to pass the value by reference, e.g.

[code]

This appears to be an inconsistency with the changes from r178 on sourceforge.

[2013-01-17 05:49] pjohnmeyer opened #8 "CHECK_EQUAL() explodes if actual==NULL"
Copied from https://sourceforge.net/tracker/?func=detail&aid=1844387&group_id=158151&atid=806684

If the "actual" value passed into CHECK_EQUAL is NULL, std::strcmp() will throw an exception in CheckStringsEqual(). Here's is my simple workaround:

[code]

There are a few possible patches in the comments of the original bug to consider for incorporation. It should be noted, though, that the test do

[2013-01-17 05:58] pjohnmeyer opened #9 "UNITTEST_TIME_CONSTRAINT_EXEMPT broke in TEST_FIXTURE"
Copied from https://sourceforge.net/tracker/?func=detail&aid=1706223&group_id=158151&atid=806684

The macro UNITTEST_TIME_CONSTRAINT_EXEMPT is defined for TEST but not for TEST_FIXTURE.

Try:

[code]

Candidate patch is already available at https://sourceforge.net/tracker/?func=detail&aid=2746453&group_id=158151&atid=806686

[2013-01-23 04:10] pjohnmeyer opened #10 "Consider increasing warning levels for project"
Consider things like -Wextra -Weffc++ -Werror for gcc (from https://sourceforge.net/tracker/?func=detail&aid=3290903&group_id=158151&atid=806686), -Wall, etc. Make sure that, at a minimum, header files build cleanly at reasonably elevated warning levels.

However, users can of course enable and disable their own warnings before including UT++ by using a redirect header, so this may not happen in 1

[2013-01-23 04:22] pjohnmeyer opened #11 "Add catch (std::exception &) blocks added to CHECK_*** macros"
From https://sourceforge.net/tracker/?func=detail&aid=2918204&group_id=158151&atid=806686:

To avoid losing std::exception::what() info when an expression inside CHECK() or the operator==() itself throw it seems more user-friendly to retain what() message as the cause of failure. See dev list discussion thread "chaining exceptions in CHECK_**\* macros?".

The patch generates the original failure m

[2013-01-23 05:57] #4 closed, assigned to pjohnmeyer

[2013-01-23 06:12] pjohnmeyer opened #12 "Watchdog thread to guard against infinite loops"
From http://code.google.com/p/unittestpp/issues/detail?id=3

Kill thread and fail test

[2013-01-23 06:15] pjohnmeyer opened #13 "Create a contrib project, or other mechanism for contributions"
From http://code.google.com/p/unittestpp/issues/detail?id=5

[2013-01-23 06:18] pjohnmeyer opened #14 "tests make assumptions about value of ULONG_MAX"
From http://code.google.com/p/unittestpp/issues/detail?id=7

Some of the tests in TestMemoryOutStream.cpp are assuming that ULONG_MAX is exactly equal to
4294967295 (0xFFFFFFFF).

This turns out not to be true on Mac OS X compiled for -arch x86_64, where sizeof(long) = 8 and
therefore ULONG_MAX is 18446744073709551615 (0xFFFFFFFFFFFFFFFF).

The simple fix is to replace this file's use of ULONG_MAX

[2013-01-23 06:27] pjohnmeyer opened #15 "TestReporterStdout::ReportSummary discrepancy between declaration and definition"
From http://code.google.com/p/unittestpp/issues/detail?id=8

A proprietary compiler that we're using is generating a warning on
TestReporterStdout::ReportSummary, because the header declaration does not exactly match the
source definition.

TestReporterStdout.h:

[code]

TestReporterStdout.cpp:

[code]

Notice the extra "const"s in the definition. Even though they're arguably compatible, it's a bi

[2013-01-23 06:47] pjohnmeyer opened #16 "Cannot build with build the lib with arm-elf-g++"
From http://code.google.com/p/unittestpp/issues/detail?id=16

**What steps will reproduce the problem?**
1. make CXX=arm-elf-g++ clean all // this on the given example of UnitTest++
2.
3.

**What is the expected output? What do you see instead?**
I expect:
***\* Build of configuration Default for project UnitTest++ ****

make clean all
src/AssertException.cpp
src/Test.cpp
src/Checks.cpp
src/TestRu

[2013-01-23 06:53] pjohnmeyer opened #17 "MemoryOutStream doesn't support std::string"
From http://code.google.com/p/unittestpp/issues/detail?id=18

**What steps will reproduce the problem?**
1. use e.g. CHECK(std::string("a"), std::string("a"));
2.
3.

**What is the expected output? What do you see instead?**
A working test, that passes.

**What version of the product are you using? On what operating system?**
Compile fails, because there's no MemoryOutStream::operator<< taking a s

[2013-01-23 07:01] pjohnmeyer opened #18 "CHECK_EQUAL crashes for large numbers"
From http://code.google.com/p/unittestpp/issues/detail?id=21

**What steps will reproduce the problem?**
1. Use this test:
    TEST(checkEqualTest) {
        CHECK_EQUAL(DBL_MAX, 0.0);
    }
2. Run it.
3. Notice how it crashes.  If it doesn't crash on your system, run it in valgrind.

**What is the expected output? What do you see instead?**

It shouldn't crash.

**What version of the product are

[2013-01-23 07:06] #5 closed, assigned to pjohnmeyer

[2013-01-26 07:01] #2 closed, assigned to pjohnmeyer

[2013-01-26 07:05] #3 closed, assigned to pjohnmeyer

[2013-02-01 02:58] pjohnmeyer opened #22 "Disallow in-source builds with CMake."
Rather than using .gitignore to mask source tree pollution, add basic checks to the CMake file to prevent in-source builds.

See http://www.cmake.org/Wiki/CMake_FAQ#Out-of-source_build_trees

[2013-02-01 02:59] pjohnmeyer opened #23 "Disallow in-source builds with CMake."
Rather than using .gitignore to mask source tree pollution, add basic checks to the CMake file to prevent in-source builds.

See http://www.cmake.org/Wiki/CMake_FAQ#Out-of-source_build_trees

[2013-02-01 03:00] #23 closed, assigned to nobody

[2013-02-02 16:15] fcami opened #24 "Provide a shared library"
Hi,

Would you consider building a shared library alongside the .a archive?
If yes, please include a soname to your library as well.

Thank you,
François Cami (Fedora packager)

[2013-02-03 07:47] #8 closed, assigned to pjohnmeyer

[2013-02-06 03:15] #9 closed, assigned to pjohnmeyer

[2013-02-06 05:24] #15 closed, assigned to pjohnmeyer

[2013-02-09 02:46] #18 closed, assigned to pjohnmeyer

[2013-02-09 03:31] #17 closed, assigned to pjohnmeyer

[2013-02-09 05:48] #14 closed, assigned to pjohnmeyer

[2013-02-13 00:14] dolanor opened #30 "Deactivate/redirect older project site on here"
Hello,

Having still 2 websites not redirecting to the current site just bring confusion. Those old website should at least have the main page indicating they are obsolete and people should go to github.

And the issue trackers and source code management should be deactivated too

[2013-02-15 16:36] rioki opened #32 "Regressions from 1.4"
It is nice to know that work is done on UnitTest++, but there where some regressions from 1.4 that I would like to address.
## Central Header

The central header used to be `UnitTest++.h`. It resided in src and [I would normally copy them to `$(prefix)/UnitTest++`](http://www.rioki.org/2012/06/05/howto-incall-unittestpp.html). The header is now named `unittestpp.h` and is located in the root folde

[2013-02-20 03:59] #11 closed, assigned to pjohnmeyer

[2013-03-24 07:39] #32 closed, assigned to nobody

[2013-03-24 07:40] pjohnmeyer opened #36 "Visual C++ 6 support needs to be updated"
I started to do this along with pull #35 but quickly found it to be a larger job than I have time to tackle this evening. Added as a new task.

[2013-03-24 07:42] pjohnmeyer opened #37 "Test autoconf files"
These may or may not be working since pull #34.

[2013-03-29 20:09] qdii opened #39 "Include a copy of the license"
Most open source projects provide a copy of the license in a file called COPYING.

[2013-03-30 13:12] #39 closed, assigned to nobody

[2013-04-11 03:32] #37 closed, assigned to nobody

[2013-05-09 05:32] pjohnmeyer opened #42 "Including project files within the project tree"
UnitTest++ has had CMake support for a while now, which allows users to generate projects for a wide variety of build systems. However, this can be seen as an obstacle to potential users; CMake is yet another dependency that they don't want to take on, yet another tool to learn, etc.

In version 1.4, a simple Makefile, Visual Studio 2003, and Visual Studio 2005 projects were provided.

There has b

[2013-05-09 09:47] martinmoene opened #44 "Missing builds folder"
The wiki page _Building UnitTest++ With CMake_ mentions an _empty 'builds' folder_. However I don't see one.

[2013-05-09 12:18] #44 closed, assigned to nobody

[2013-05-11 21:53] bjoernknafla opened #45 "CrashingTestsAreReportedAsFailures crashes on OS X 10.8.3 and Xcode 4.6.2"
When running the unittests of unittest-cpp on Mac OS X 10.8.3 in Xcode 4.6.2 they crash.

The following errors are reported:
When not attaching a debugger on crash:
libc++abi.dylib: terminate called without an active exception

When attaching lldb on crash:
error: address doesn't contain a section that points to a section in a object file
Second entry of the backtrace: ExecuteTest.h, line 35

When

[2013-07-02 06:05] #36 closed, assigned to nobody

[2013-07-19 12:46] pjohnmeyer opened #47 "Visual Studio project files have absolute paths in them"
The CMake-generated Visual Studio projects (at least the 2010 and 2012 ones) have absolute paths in them. This obviously doesn't work for others.

[2013-09-14 23:16] jeremyong opened #49 "Cannot link with clang"
When linking to the unittest-cpp library with clang, I get the following errors:

[code]

[2013-09-19 09:35] danishcake opened #50 "Strongly typed enumeration support"
C++11 introduces enum classes which are not implicitly convertible to integers. This stops the standard CHECK_EQUAL etc macros from working.

To fix this you then have to write a streaming operator

<code>std::ostream& operator<<(std::ostream& os, const EnumeratedType& val)
{
    os << static_cast<std::underlying_type<EnumeratedType>::type>(val);
    return os;
}
</code>

or cast to an int in the

[2013-09-28 18:27] qdii opened #51 "Destructor throws exception"
In tests/TestTestMacros.cpp,
I found this:

[code]

This is quite intriguing, but I don’t know the code very well, so it might just be a false-positive. Anyone known more?

[2014-01-16 04:15] #49 closed, assigned to nobody

[2014-01-16 04:17] #16 closed, assigned to nobody

[2014-10-05 11:58] wintertime opened #55 "AUTHORS out of sync with readme"
Hi,

just a minor thing, but while looking through the repo I noticed the text about the fork in AUTHORS seems outdated and is contradicting whats told in the readme.md .
Same may apply to an email given inside configure.ac .

[2014-10-05 15:00] wintertime opened #56 "Crash in TestUnitTest++.exe"
I wanted to try the latest git version and used the cmake-gui program from cmake 3.0.2 to produce a mingw makefile for TDM-gcc-32 4.8.1 .
When I first tried "mingw32-make" and "mingw32-make check" did work flawlessly.
Then I noticed I had forgotten to set CMAKE_BUILD_TYPE inside the cmake gui. So I deleted everything and set it to Release (which sets -O3 -DNDEBUG when compiling), but this time mak

[2014-11-01 06:37] #24 closed, assigned to nobody

[2014-11-03 09:18] #51 closed, assigned to nobody

[2014-11-15 04:27] #47 closed, assigned to nobody

[2014-11-19 05:37] asmodehn opened #62 "Allow "asynchronous" unit test -> new Test Macro ?"
In my case I need to run tests that trigger a behavior, and then wait for a callback/signal/flag to keep going...
I am using a main loop from another library. I want to trigger some behavior, wait for a few loops, and then check if the result is as expected.
This might even be useful for "true" concurrency with threads, although it s not my goal here...

At the moment I cannot do this with the cur

[2014-12-19 17:53] #55 closed, assigned to nobody

[2014-12-29 23:15] #30 closed, assigned to charlesnicholson

[2015-01-01 18:26] sinjar666 opened #64 "CHECK macros redefinition"
CheckMacros.h has a ifdef to check if
CHECK, CHECK_EQUAL, etc have been already defined.
This gives me problems when some code which links to other libraries (like glog) which have a CHECK macro (but with different definition) are being tested.
Namespaces cant help with preprocessor macros.
How can I work around this?

If the check macros made calls to static methods within a class thats in the Un

[2015-01-05 02:14] asmodehn commented on #62
My case has to do with rule 2 indeed.

At first i thought i didnt need to test the library functionality, but it
turns out I do.
Half to find out how it s working, Half to make sure it s always working
the same way.
Many c++ libraries out there are simply not tested / documented enough.

The library is a sdk connecting to a REST server with some modification to
make it build ( yes, it s not even b

[2015-01-27 23:54] M-griffin opened #65 "MingW32 CHECK and CHECK_EQUAL (false) freeze/crash Tests"
Hi, having some issues trying to write unit tests for my program.
```CodeLite and MingW32-4.8.1 in Windows 7 64 bit.```

Generate CodeLite project files with cmake gui for Windows.  Everything built cleanly with no errors or issues from latest git clone of repo.  Latest (HEAD).

I then created my first unit test and tried CHECK(true); To make sure it's working and i get success;

Basic Code:
[code

[2015-01-28 00:30] M-griffin commented on #65
i'll dig into it more,  just the basic stack trace leads here:

Program Received signal SIGSEGV
#1  0x004013d1 in EtherTerm::TestFailSpectacularly::RunImpl (this=0x487008 <EtherTerm::testFailSpectacularlyInstance>, testResults_=...) at C:/Users/Blue/Desktop/EtherTerm/UnitTests/main.cpp:65
65\t        CHECK(false);

[2015-01-28 09:06] M-griffin commented on #65
After a lot of debugging and Looks like this is actually a CodeLite issue.

By default CodeLite generates a test class example and uses:
[code]

Switching the Include file to mimic the tests provided with UnitTest++ has done the trick and tests are now running properly.
[code]

I'll send CodeLite a bug report.

[2015-01-28 09:06] #65 closed

[2015-01-28 10:57] sinjar666 commented on #64
Still waiting for some response on this

[2015-01-30 12:02] grahamreeds commented on #64
I think you might have to fork the project and change it so it is UT_CHECK, UT_CHECK_EQUAL.

I quite dislike macro programming but in this instance it does hide a lot of the mechanics away.  If we could get a system which can do away with the macros but still hid the complexity then I would be all for it.

[2015-01-30 18:55] sinjar666 commented on #64
True, macros does hide the mechanics.
However macros with the name CHECK are quite commonly redefined in other libraries as well (Google Glog for example). Facebook's folly have their own CHECK_THROW().

I guess I would fork this and go for the UT_ prefixes to the macro names
Thanks for the reply @grahamreeds

[2015-03-05 02:01] mletterle commented on #6
Sourceforge site is down now, BTW, still available in the wayback machine but....

[2015-03-05 09:43] grahamreeds commented on #6
I had briefly worked on this. I will pick it up again.

GR

Sent from my Nexus 5.
On 5 Mar 2015 02:01, "Michael Letterle" <notifications@github.com> wrote:

[2015-03-08 22:08] grahamreeds commented on #6
I made a pass for the version I forked about a year ago - lucky because I couldn't find it on my machine.

https://github.com/grahamreeds/unittest-cpp/wiki/Money,-a-step-by-step-example-for-Visual-Studio-2013

If you give me write access I will change it for the CMake world or you can take it and drop it in.  It is no where near complete and no images but it is better than nothing.

[2015-03-21 06:07] RajivSignal opened #67 "JVM hangs on Mac OS X while profiling"
I built the profiler from source after installing unittest-cpp from source and specifying the library to link as well as the include directories. I don't think I got any errors from the maven or the underlying make invocation. I got the liblagent dynamic library as expected in my builds directory. I then started my jvm like this:
java -agentpath:/Users/rajiv/honest-profiler/build/liblagent.dylib -

[2015-03-21 06:15] RajivSignal commented on #67
I used the Oracle jdk 1.8 when compiling both honest profiler and my own jar.

[2015-03-21 06:23] RajivSignal commented on #67
Sorry this is the wrong project.

[2015-03-21 06:23] #67 closed

[2015-04-04 03:19] pjohnmeyer commented on #62
@asmodehn If you're still interested in discussing this further I'd be happy to see a proposed implementation with a sample of how it would be used, but right now I'm still erring on the side of this being outside the scope of UnitTest++.

Perhaps it could be designed to be purely additive -- in other words, requires no changes to the existing code, but rather is another "user" of the library?

[2015-04-04 03:21] pjohnmeyer commented on #56
@wintertime any updates? Again, happy to help with the debugging remotely if possible.

[2015-04-04 04:15] pjohnmeyer commented on #45
I have looked into this deeper, and unfortunately the setting mentioned previously is stored in user workspace settings, something CMake does not create or modify. This issue cannot be resolved within the scope of the project.

[2015-04-04 06:00] #42 closed

[2015-04-04 06:00] #45 closed

[2015-04-04 06:59] asmodehn commented on #62
The way I see it, it is an additional macro, to enable more advanced use of unittest-cpp, in the way that I dont have to have my test in one function. I can start in one function and check if it succeeded in another...

I think I would have to spend some time investigating how it all work together and figure out a proper implementation for it. However the project I was planning to use this for rec

[2015-04-04 07:54] wintertime commented on #56
@pjohnmeyer Sorry to disappoint you, but I neither thought of nor used it meanwhile. My hope was you could do something with the data?

[2015-04-04 11:35] hymerman opened #68 "Continuous integration"
I think we should set up CI using Travis (for linux) and AppVeyor (for Windows). I'm quite happy to do the work (I've just done it for another project); I just thought I'd create an issue before I start to make sure I'm not treading on anyone's toes!

[2015-04-05 08:08] pjohnmeyer commented on #56
Unfortunately, no, the data didn't help me much, aside from making it look like the optimizer might be causing a problem. I have not tried to replicate your build environment though; I was hoping to lean on you for that but if I need to get things set up myself then perhaps I will.

[2015-04-05 08:10] pjohnmeyer commented on #62
Okay. I am going to close this issue; if you ever get around to revisiting this you can open a new one or ask me to re-open this one.

Thanks!

[2015-04-05 08:10] #62 closed

[2015-04-05 08:16] pjohnmeyer commented on #68
I'm not opposed; I was thinking about setting up a Jenkins server, and letting anybody attach a slave with their particular tool chain to it. This would allow for a more diverse set of build systems to run the tests. But, anything would be better than what we have right now. If you want to invest the time I say go for it.

[2015-04-25 07:32] pjohnmeyer commented on #6
I heavily updated wiki docs tonight and I am closing this as a result. It isn't a direct port over of the old docs, and there is always more that can be written, but I think it is sufficient.

[2015-04-25 07:32] #6 closed

[2015-04-27 08:18] hymerman commented on #68
Wow, sorry I took so long with this - it got put on my todo list and then immediately buried by a hundred other things. I've set it up now - have a look at the linked PR. Should be good to go after you've set up accounts on both services - should only take 5 mins.

A Jenkins server would be fantastic long-term, but Travis and AppVeyor are just *so* damn convenient! And reliable too - Jenkins has a

[2015-05-19 08:56] LocutusOfBorg opened #72 "please sync unittest-cpp with casablanca fork"
Hi, since the Debian package is from a dead upstream, and you seems to be the new one, I would like to update the package with your fork.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=784665

unfortunately a package I use (casablanca) did a fork with some new classes that makes the package fail to build with your code.
http://casablanca.codeplex.com/SourceControl/latest#Release/tests/common/Un

[2015-05-19 11:32] grahamreeds commented on #72
I haven't taken a look at Casablanca yet, but really shouldn't they be upgrading to us? :)

[2015-05-19 12:18] LocutusOfBorg commented on #72
you seem to lack of (e.g. GlobalSettings.cpp).

I don't know if you do it in a different way or it is something new from them...

[2015-05-19 12:56] grahamreeds commented on #72
Had a quick look over lunch and got Casablanca to build and run the tests with VS2012.

At the risk of going OT; taking a peek at their UnitTestpp cmake file it is quite a bit simpler than the behemoth we use.  Would it be worth moving to something simpler like theirs? Not being a 'brain' at CMake every time I look in ours I get palpitations.

[2015-05-20 09:04] grahamreeds commented on #72
Another thought I had yesterday afternoon (but forgot to post) is to put UnitTest++ on NuGet, so then they can remove the hard coding of that version and pull in the version like they do with Boost.

Note: I have not looked at what you need to do to get a package on NuGet.

[2015-05-20 15:52] LocutusOfBorg commented on #72
I don't know and understand what NuGet is, do you think you can help me on this matter?

[2015-05-20 16:12] grahamreeds commented on #72
NuGet is Microsoft's way of managing dependencies and getting source
packages.

If you build Casablanca in Visual Studio it will automatically pull in
Boost, zlib, ssl and several others automatically.

Putting UnitTest++ into NuGet will allow us to update Casablanca so it
treats it like any other dependency instead of a special case. Additionally
it improves the visibility of UnitTest++ and remov

[2015-05-20 17:27] LocutusOfBorg commented on #72
that would be awesome!

[2015-07-15 01:43] #68 closed

[2015-07-31 00:22] slephant commented on #56
Correct me if I'm wrong, but it looks like the problem is in the UNITTEST_TIME_CONSTRAINT macro. It is declaring a TimeConstraint that stores a dangling reference (details) to a temporary constructed in the macro.

Judging by this, and elsewhere, in TestTimeConstraint.cpp, TimeConstraint looks like it wants to m_details to be a const TestDetails, not a reference, forwarding the line number from it

[2015-08-13 15:51] paxos1977 commented on #56
@slephant TimeConstraint takes the UnitTest::TestDetails as a const&, it's fine that's a temporary; it would be a problem if it was a non-const&.

[2015-08-14 08:56] zxjcarrot opened #74 "How to safely terminate the execution of a multi-threaded case?"
Some of my test cases might spawn threads and might block indefinitely, or for very long time.
So I need a way to terminate those cases and mark them as timed out.
Does unittest-cpp support this?

[2015-09-05 17:45] paxos1977 opened #76 "TestUnitTest++.exe Abort() called"
Compiling UnitTest++ with Visual Studio 2015 Community Edition. Warning [C4297](https://msdn.microsoft.com/en-us/library/84e2zwhh.aspx) is triggered by TestTestMacros.cpp line 141.

The key phrase in the MSDN documentation is that VS2015 is adding an implicit *noexcept* on all user destructors and deallocators. Throwing from a noexcept method causes abort() to be called on the process.

We can add

[2015-09-05 18:36] paxos1977 commented on #76
Specifically, we'd need to use `/Zc:implicitNoexcept-` to disable the addition of noexcept to user defined destructors.

[2015-09-06 01:11] paxos1977 commented on #74
As a general rule of thumb, I recommend against multi-threaded unit tests. However, I understand it is necessary sometimes.

There is functionality for failing tests that take too long. I believe it looks like this:

    TEST(failLongRunningTests)
    {
        UNITTEST_TIME_CONSTRAINT(1000); // time allowed before a failure in ms
        // your code here
    }

[2015-09-06 01:38] paxos1977 commented on #72
Ah @grahamreeds you're so cute. If you had *any* experience writing CMake files, you'd probably realize how very simple this one is - by no means a behemoth. Also, I looked at (UnitTestpp fork)[https://github.com/paulecoyote/unittestpp] and there is no CMakeLists.txt file there. I'm I looking at the wrong project?

IMO, if anything, unittest-cpp's CMake implementation is lacking a little bit of ne

[2015-09-06 02:39] zxjcarrot commented on #74
I agree. After some digging on the internet, I found no way to do this safely. Guess I have to try some workarounds, such as spawning a child process with a time limit to run the test.
I've tried `UNITTEST_TIME_CONSTRAINT`, sadly it won't stop the thread after the timeout.

[2015-09-06 07:26] grahamreeds commented on #72
My comment was about Casablanca unittest++ cmake file.

https://casablanca.codeplex.com/SourceControl/latest#Release/tests/common/UnitTestpp/CMakeLists.txt

GR

Sent from my Nexus 5.

At the risk of going OT; taking a peek at their UnitTestpp cmake file it is
quite a bit simpler than the behemoth we use. Would it be worth moving to
something simpler like theirs? Not being a 'brain' at CMake every

[2015-09-14 14:21] cmdrf commented on #76
There is a fork by Microsoft addressing this issue: https://github.com/Microsoft/unittest-cpp

[2015-09-14 14:29] grahamreeds commented on #76
Which they are quite welcome to! :-)

Sent from my Nexus 5.
On 14 Sep 2015 3:21 pm, "Fabian" <notifications@github.com> wrote:

[2015-09-22 03:03] pjohnmeyer commented on #50
I closed #52 due to the lack of a response to comments; I may use it as a reference for implementing this myself later this week.

[2015-09-22 03:54] #76 closed

[2015-09-25 04:01] annagrin opened #79 "The project does not build with VS2015, and has a lifetime issue"
solved in pull request 78

[2015-11-03 17:03] pjohnmeyer commented on #79
Closed per changes in #78

[2015-11-03 17:03] #79 closed

[2015-11-05 02:30] #74 closed

[2015-11-05 02:41] pjohnmeyer opened #80 "Version 1.5.0 has been tagged"
Today I updated all of the version information in the repository and tagged [`v1.5.0`](https://github.com/unittest-cpp/unittest-cpp/tree/v1.5.0). What does this mean?

1. For the people out there who need a "release" to work against -- they have it.
2. I have drawn a line in the history. From this point on the project will be using [Semantic Versioning](http://semver.org/spec/v2.0.0.html) for vers

[2015-11-05 14:54] pjohnmeyer commented on #72
GlobalSettings is not suitable for incorporation into the current mainline (I think it is a holdover from the older version they began with). It includes intrusive changes to UnitTest::TestRunner that could be handled externally to the UnitTest++ library.

Take-aways from this thread:

1. We should build a NuGet package (was already on my radar, but confirmed), and make updating it part of the rel

[2015-11-05 15:03] LocutusOfBorg commented on #72
thanks a lot!!!

[2015-11-05 15:14] pjohnmeyer opened #81 "Create NuGet packaging script for UnitTest++ releases"
This came up in the discussion of #72.

Success criteria: A single script can be run (probably with the version number as an argument) that will create the NuGet package and optionally upload it.

See: https://www.nuget.org

[2015-11-05 15:22] pjohnmeyer opened #82 "Investigate updating C++ REST SDK (Casablanca) to UnitTest++ 1.5"
Microsoft's [C++ REST SDK](https://github.com/Microsoft/cpprestsdk) relies on a very old revision of UnitTest++, copied into the project. This is fine if actually desired, but #72 suggested a sync-up would be worthwhile.

Somebody should take a whirl at incorporating 1.5.* into their project and submit a pull request.

This would be easiest to accomplish after #81 is resolved, since we could then

[2015-11-05 15:24] pjohnmeyer commented on #72
@LocutusOfBorg you're welcome. I wrote #81 and #82 to capture what we actually want to do, and marked this one as duplicate. I'll note that the version on codeplex is not the current casablanca project page; https://github.com/Microsoft/cpprestsdk is.

Anybody want to take a stab at those feel free.

[2015-11-05 15:24] #72 closed

[2015-11-05 15:30] grahamreeds commented on #72
Just looked and its used in one unit (TestRunner) and relates to timeouts.

Beyond that I can't say until I get some spare time.

GR

Sent from my Nexus 5.
On 5 Nov 2015 3:25 p.m., "Patrick Johnmeyer" <notifications@github.com>
wrote:

[2015-11-05 15:36] pjohnmeyer commented on #22
The `builds` folder is an empty, fully ignored folder for people to generate in if so desired. I no longer see a reason to add complexity to the CMake file to prevent this. Open to being convinced otherwise, but closing for now.

[2015-11-05 15:36] #22 closed

[2015-11-07 16:05] JanTvrdik opened #83 "CHECK_THROW should return catched exception"
It would be nice if `CHECK_THROW ` macro returned the catched exception making the following possible

[code]

[2015-11-09 06:30] pjohnmeyer commented on #83
Interesting. What would it return in the case `parse` doesn't throw an exception, or doesn't throw the type of exception expected? When proposing your solution, please keep in mind that not all exceptions inherit from `std::exception`.

[2015-11-09 09:28] kispaljr commented on #83
A possible alternative (if support for old compilers is not critical):

    std::exception_ptr ex = CHECK_THROW(parse("0xPQ"), ParserException);
    try {
        std::rethrow_exception(ex);
    }
    catch (const ParserException& ex) {
        CHECK_EQUAL("syntax error", ex.what());
    }

that of course could be shortened to something like this:

    CHECK_NAMED_EXCEPTION(parse("0xPQ"), const Pa

[2015-11-09 17:32] pjohnmeyer commented on #83
It wouldn't make much sense to only support this feature for compilers that have the newer C++ functionality, unless there is no other way. Ideally, all exceptions could be treated equally<sup>1</sup>.

The only logical thing I can think of would be to return some kind of exception description object, but it would have to copy the `what` over (when the exception is-a std::exception) to outlive the

[2015-11-09 18:21] JanTvrdik commented on #83
There are much more thing that makes sense to test on the caught exception that just the exception message, e.g. in case of `HttpException` or some `RemoteApiException` you may want to check the HTTP code or API result code.

No, the exception message is from bison, so the actual code message is e.g. `syntax error, unexpected TOKEN_LIST_CLOSE`. The test verifies that bison gives meaningful error m

[2015-11-09 18:59] pjohnmeyer commented on #83
I'll consider this further, but I'll likely be focusing on other things for a little while before I get to it. In my head I'm toying with an alternate syntax that looks something like this instead
[code]
but I'm not sure that fits the idioms of UnitTest++ any better than your proposal. In response to this:

This likely isn't necessary; if an exception other than the type you are expecting is throw

[2015-11-10 09:31] kispaljr commented on #83
Why is it better than my proposal above where you could actually name the exception and also control the way it is caught? I am of course referring to this:

    CHECK_NAMED_EXCEPTION(parse("0xPQ"), const ParserException& ex) {
        CHECK_EQUAL("syntax error", ex.what());
    }

[2015-11-10 13:10] pjohnmeyer commented on #83
it probably isn't any better. Just brainstorming.

[2015-11-12 11:34] grahamreeds opened #84 "Tests broken in Visual Studio 2010"
UnitTest++ fails to compile the tests in Visual Studio 2010, failing in TestTestMacros.cpp at Line 170.

This line has comment preceding it and a preprocessor version check.  Basically it says Visual Studio 2015 implicitly adds ```noexcept``` to destructors and any exceptions thrown will cause abort to be thrown.  The code is surrounded by a ```#if(_MSC_VER < 1900)```. I am guessing that ```_NOEXC

[2015-11-12 11:39] grahamreeds commented on #84
Also Line 170 isn't visible to the Clang/GCC compilers due to the compiler check at line 167.  This is definitely wrong.

[2015-11-12 11:40] grahamreeds commented on #84
Also this code is not visible to the clang/gcc compilers due to the compiler check at line 167.  This is definitely wrong.

[2015-11-12 12:09] grahamreeds commented on #84
Created a patch and a pull request for it.  Hope I am doing this right.  How do you link and issue with the pull request?

[2015-11-12 15:25] martinmoene commented on #84
Like PR #85.

[2015-11-12 15:33] grahamreeds commented on #84
That was me. I couldn't see how to link a PR to an issue.  First time I
have ever done it in GH.

Sent from my Nexus 5.
On 12 Nov 2015 3:25 p.m., "Martin Moene" <notifications@github.com> wrote:

[2015-11-17 06:16] pjohnmeyer commented on #84
Incorporated PR #85 . Need to update the Appveyor config to matrix build on multiple MSVC compilers.

[2015-11-17 06:16] #84 closed

[2015-11-17 06:17] pjohnmeyer opened #86 "Update Appveyor config to support all available MS compilers"
According to http://www.appveyor.com/docs/installed-software at the time of this writing, it supports:

* Visual Studio 2008
* Visual Studio 2010
* Visual Studio 2012
* Visual Studio 2013
* Visual Studio 2015

Need to set up the build matrix so all of these are run.

[2015-12-16 14:54] rmpowell77 opened #88 "Warnings when building on clang 3.7 with -Wsign-conversion"
I see this when I build:

GSL/tests/unittest-cpp/UnitTest++/Posix/TimeHelpers.cpp:30:15: warning: implicit conversion changes
      signedness: 'int' to 'useconds_t' (aka 'unsigned int') [-Wsign-conversion]
    usleep(ms * 1000);
[code]

[2015-12-21 13:03] drfiemost opened #89 "Missing pkg-config file when building with cmake"
When building with cmake, the recommended method, the UnitTest++.pc file doesn't get installed.

[2015-12-29 20:14] jasonhorsburgh opened #90 "Intermittent test failure when using Xcode generator"
I appear to be getting an intermittent test failure in TestTestRunner.cpp [TestFinishIsCalledWithCorrectTime](https://github.com/unittest-cpp/unittest-cpp/blob/master/tests/TestTestRunner.cpp#L108) when using the Xcode cmake generator.

The test constraints check if the lastFinishedTestTime are within 0.005 and 0.050 but after adding logging code after the check then I am getting values just over

[2015-12-29 23:30] grahamreeds commented on #90
Using sleep for anything is a bad idea. It only guarantees how long it will
sleep for, not when it will wake.

http://accu.org/index.php/journals/2185

GR

Sent from my Nexus 5.

I appear to be getting an intermittent test failure in TestTestRunner.cpp
TestFinishIsCalledWithCorrectTime
<https://github.com/unittest-cpp/unittest-cpp/blob/master/tests/TestTestRunner.cpp#L108>
when using the Xcode cma

[2015-12-30 11:26] jorisguisson opened #91 "SIGSEGV catching makes it annoying to debug crashes"
Lets say you have a crashing test, so you fire up gdb:

gdb testbinary

Error: Failure in ParseExpr: Unhandled exception: Crash!
FAILURE: 1 out of 11 tests failed (1 failures).
Test time: 0.00 seconds.
[Inferior 1 (process 5869) exited with code 01]

Obviously you want gdb to just stop when the segfault happens, but the signal catching of unittest++ prevents this from happening. This is annoying,

[2015-12-30 11:47] #91 closed

[2015-12-30 11:48] jorisguisson commented on #91
Ignore, it was an uncaught exception instead of a SIGSEGV, so me jumping to conclusions

[2015-12-30 12:47] grahamreeds commented on #90
In addition to what I said previously, the correct way to test time
failures is to return the elapsed time as a value and fail on that, not to
use a non standard function that may or may not perform as expected.

So, for example you would have something like

[code]
So you don't have to wait for an elapsed time, you get the failure
instantly.

GR

Sent from my Nexus 5.
On 29 Dec 2015 11:30 p.m., "

[2016-01-30 01:32] #88 closed

[2016-01-30 02:03] #90 closed

[2016-01-30 05:23] pjohnmeyer commented on #80
http://unittest-cpp.github.io/2016/01/28/version-1-5-and-beyond/

[2016-01-30 05:23] #80 closed

[2016-01-30 05:27] pjohnmeyer opened #94 "Version 1.5.1 has been tagged"
Today I updated all of the version information in the repository and tagged v1.5.1. All tickets and pull requests incorporated are marked with the 1.5.1 milestone.

[2016-01-30 05:27] #94 closed

[2016-02-09 00:04] BarrySmith opened #96 "downloads require running autoreconf -i and autoconf undocumented"
I may have missed something but if one downloads either with git or the "release" tarballs configure is not available so one must run
autoreconf -i
autoconf
before running configure. This seems does not seem to be documented anywhere.

Couldn't you provide tarballs with the configure already there?

[2016-02-09 02:22] pjohnmeyer commented on #96
Putting `configure` "already in there" somewhat defeats the purpose of `autoconf`, as I understand it. Using it should be as simple as running:

    autoconf
    ./configure

from the root folder of the project. That said, I just tried master on a recent Ubuntu and I was getting some warnings so it doesn't appear to be working properly at the moment. This is something I need to start checking with

[2016-02-09 02:47] BarrySmith commented on #96
I'm ok with having to do something before the configure if neccessarily but the README starts with
./configure
and makes no mention of running something before which seems problematic.

Thanks

[2016-02-09 03:41] pjohnmeyer commented on #96
I'm unclear on the particulars of your previous comment. ./configure is not mentioned in the README; only CMake (the primary supported build system) is mentioned there.

[2016-02-09 03:50] BarrySmith commented on #96
Hmm, I downloaded unittest-cpp-1.5.0  and the INSTALL file states:

Briefly, the shell commands `./configure; make; make install' should
configure, build, and install this package.

Am I accidently in the wrong universe?
Thanks for answering so promptly?

Should switch to 1.51?

[2016-02-09 03:58] pjohnmeyer commented on #96
Ah, I was looking at the README. Now that I see what you're saying, I'd say the INSTALL file is out of date.

If you must autotools, then I'm afraid things appear to be broken at the moment; I'd be happy to see a PR from you or anyone else on this as I doubt I'll have the cycles for a few days.

If you can use CMake, then you can should be able to install using the instruction me here: https://git

[2016-02-09 04:10] BarrySmith commented on #96
Ahh, running autoreconf on my Apple worked fine but it looks like my autoconf on my linux system is out of date hence could not generate ./configure.

I'll try the cmake.

I hate cmake and wish you had stuck with autotools but .....

[2016-02-09 04:26] pjohnmeyer commented on #96
I don't particularly love CMake either, but I am not interested in reopening that conversation at this time.

As previously stated, I'll happily accept PRs on the autotools support files -- so I wouldn't say the project has abandoned it. Sorry for the inconvenience.

[2016-02-09 14:46] magicant commented on #96
I'm trying the commit 5b34768df0c4552aeac1ef980b683b15a3b473f2 on Fedora 23 with Autoconf 2.69, and don't find any particular issue about autoconf. The commands

[code]

just work for me.

@pjohnmeyer Are you running `autoconf` directly? I recommend using `autoreconf` since I automatically runs other `autoxxx` commands if necessary.

[2016-02-09 15:03] pjohnmeyer commented on #96
@magicant I was, switched to your method as above [Ubuntu 15 and autoconf 2.69] and got some errors. Realized that I didn't have `libtool` installed -- I hadn't really used this VM for dev until now.

@BarrySmith, can you see if it works this way for you? If so, this is just a documentation problem.

[2016-02-09 16:29] tiberiomoliveira commented on #96
Doing this:
  `autoreconf -i`
  `./configure`
  `make`
Works for me, I'm using arch linux.

[2016-02-09 17:42] bittwiddler1 commented on #96
From what I've experienced with GNU auto tool packages,  they usually ship with a pregenerated configure shell script...

If the makefiles support it, (and if I understand correctly) running `make dist` should generate a .tar.gz with the configure script at the root.

[2016-02-09 17:42] bittwiddler1 commented on #96
Im preoccupied with work and family but I might be able to take a look tomorrow

[2016-02-09 19:27] BarrySmith commented on #96
This works fine for my on my Apple Mac (latest Xcode) but on linux-Ubuntu_12.04-x86_64  with autoconf-2.69 automake-1.15 libtool-2.4.6/bin   I get

$ autoreconf --force --install -v
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force -I m4
aclocal: warning: couldn't open directory 'm4': No such file or directory
autoreconf: configure.

[2016-02-10 10:27] LocutusOfBorg commented on #96
@pjohnmeyer unfortunately I'm a huge CMake fan, and I really don't understand how autotools works, IIRC I just did a fix in a pkgconfig file, but I try to stay away from autotools issues whenever possible. So for me +1 for CMake switch :)

[2016-02-10 15:07] bittwiddler1 commented on #96
@LocutusOfBorg AFAIK, unittest-cpp is already primarily using CMake for builds, so there's no need!

However, I was under the impression the GNU Autotools files were here for those who don't have CMake installed on their system. I know CMake is an awesome tool, but it's also much more [dependency-heavy](https://gist.github.com/bittwiddler1/c4574ca32b4fee0dc8cb) than the [GNU Tools](https://gist.gi

[2016-02-10 15:07] bittwiddler1 commented on #96
@pjohnmeyer It actually depends on who's compiling the package.  For the purposes of avoiding clutter in your source control and the source tree, you don't generally check in the `configure` script, but from what I've seen in most .tar.gz files, the release distributions of the source do contain a `configure` script.

[From Wiki](https://en.wikipedia.org/wiki/GNU_build_system#Usage):

autoreconf -

[2016-02-11 04:45] pjohnmeyer commented on #96
Thanks for all the input, everybody, I'm the first to admit I'm a little light on autotools knowledge. @BarrySmith : The `Libtool library used but 'LIBTOOL' is undefined` error you saw was the same thing I saw before I installed `libtool` on my fresh Ubuntu install.

To this point, I've only been tagging code -- I haven't been creating true releases through GitHub. To that extent, 1.5.* releases h

[2016-02-11 04:45] pjohnmeyer commented on #96
Thanks for all the input, everybody, I'm the first to admit I'm a little light on autotools knowledge. @BarrySmith : The `Libtool library used but 'LIBTOOL' is undefined` error you saw was the same thing I saw before I installed `libtool` on my fresh Ubuntu install.

To this point, I've only been tagging code -- I haven't been creating true releases through GitHub. To that extent, 1.5.* releases h

[2016-02-21 16:15] stubb opened #99 "Provide a CMake Package Configuration File"
It would be great if a CMake package configuration file would be installed/provided altogether with the lib itself. So everyone running an own CMake project could include/find unittest++ easily with the Cmake command find_package().
See https://cmake.org/Wiki/CMake/Tutorials/Packaging for details.

[2016-02-24 03:49] pjohnmeyer commented on #96
So, I've spent some more significant time with the autotools files tonight because on #95 I had previously neglected to updated the `Makefile.am` files with the new files. As it turned out, I needed not only to update them, but add some m4 macros along with an update to `configure.ac` to optionally enable C++11 support

I would personally prefer to only support CMake, but I appreciate the use case

[2016-02-24 04:56] pjohnmeyer commented on #99
Agreed. This is a duplicate of #89, though, so I'm closing it.

[2016-02-24 05:16] pjohnmeyer opened #100 "Add documentation for REQUIRE macro"
Update wiki and docs submodule.

[2016-02-24 06:20] #86 closed

[2016-02-24 06:31] pjohnmeyer commented on #99
Ah, disregard previous comment -- related but not the same.

[2016-03-01 04:34] pjohnmeyer commented on #100
Added `REQUIRE` doc to wiki and updated docs submodule in b69b63ac2bf4a967b35e853026abb68b3f8442ad

[2016-03-01 04:34] #100 closed

[2016-03-01 04:38] pjohnmeyer opened #102 "Version 1.6.0 has been tagged"
Today I updated all of the version information and documentation in the repository and tagged v1.6.0. All tickets and pull requests incorporated are marked with the 1.6.0 milestone.

I'll be creating a blog post later in this week to discuss the new release and the plan for March, in which I hope to address the distribution issues that have been cropping up.

[2016-03-01 04:45] pjohnmeyer commented on #96
As you all may have noticed I went ahead and tagged v1.6.0 tonight without having resolved this. However, I intend to address these issues in March and will most likely include, with that, uploading distributions for older tags as well, if it doesn't prove to be too difficult.

[2016-03-02 18:17] AndyM84 opened #103 "Add Verbose Test Output"
It'd be pretty helpful to get more verbose test pass/fail output along with individual test timings.  I'd be happy to do this myself, but it would involve refactoring the way tests are run and I'm not sure I should be so pretentious to think I know the best approach.

My thought on this had been to adjust `ExecuteTest<T>` to call a new `TestResults::OnTestSuccess()` method so that you have the opt

[2016-03-02 19:36] grahamreeds commented on #103
Why do you need to know the test timings? You write the tests and move on.
Once you have enough tests, maybe some of them could be refactored to be
faster but there is already a machanism to fail tests that take longer than
a specified time.

As for passing/failing, again the reason is why? Failing tests are more
important than passing ones.

GR

Sent from my Nexus 5.
On 2 Mar 2016 6:17 p.m., "And

[2016-03-02 20:28] AndyM84 commented on #103
The short answer to both of those questions is "Continuous Integration."

The long answer is that I am implementing a project that will utilize UnitTest++ inside of TeamCity and can build better test/coverage reports if I have individual pass/fail notifications.  Furthermore, though it's not at all a performance test, using individual timings as a metric to detect performance regression is a great

[2016-03-03 07:40] pjohnmeyer commented on #103
It sounds to me that you may wish to either run your tests with the existing XmlTestReporter, a custom TestReporter implementation, or a CompositeTestReporter that uses them both. TestReporters already receive a test start and test complete event. This of course means you can't use `UnitTest::RunAllTests`, but rather have to instantiate your reporter, instantiate a TestRunner, then call RunTestsIf

[2016-03-03 07:47] grahamreeds commented on #103
I used UnitTest++ several years ago with a tool called Bullseye which gave
the coverage metric which helped write tests to cover the bits we missed
while writing the application (the licence turned up late in development).

While the coverage metric was nice we always ran at 100% passing, and if
any tests failed the code would be fixed before moving on.

Again there is already a feature to fail te

[2016-03-03 11:50] AndyM84 commented on #103
@pjohnmeyer: I looked into doing that first based on the way the system is setup, but the approach doesn't actually get me the functionality that I need.  `ExecuteTest<T>` doesn't actually provide pass/fail information to the `OnTestFinished` method, so either way I'd have to refactor something (it may be a better approach to provide that information to `OnTestFinished` instead of adding a new 'su

[2016-03-05 04:29] pjohnmeyer commented on #103
@AndyM84 I believe if you use the XmlTestReporter, TeamCity can process the XML file and present it -- it contains all successes, failures, and timings, which I believe is what you want.

If you wish to have another format of report with this information in it, you should be able to do what you want by implementing a custom `TestReporter` that maintains some state. Specifically, clear a flag to in

[2016-03-05 13:34] AndyM84 commented on #103
@pjohnmeyer Thanks for that, I'll give the XmlTestReporter a try.  If it does what you say, then I'd be perfectly satisfied using XML as the format.  Much appreciated!

[2016-03-09 16:21] toralf opened #104 "we have PAX issue at a hardened Gentoo"
The origin is here : https://bugs.gentoo.org/show_bug.cgi?id=576806
Any hints ?

[2016-03-12 02:39] pjohnmeyer commented on #104
Having looked at the issue, the only thing immediately jumping out at me would be in `TestTest.cpp`. The test `CrashingTestsAreReportedAsFailures` intentionally calls a function at address 0x0:

[code]

If you or somebody can verify for me that this is indeed the cause, then it will be easy enough to come up with a fix.

[2016-03-12 02:51] pjohnmeyer commented on #103
@AndyM84 Have you gotten the results you were hoping for?

If you ended up needing to write a custom TestReporter, I'd be keen to see what you ultimately did.

[2016-03-12 14:09] tiberiomoliveira opened #105 "'make install' is doubling UnitTest++ directory in include dir"
When I perform the command `make install`, the include directory has UnitTest++ created twice:
`/usr/local/include/UnitTest++/UnitTest++/`

I was using the default configuration, but the same happens when I use a different directory on `--includedir` configure's parameter. In order to solve the problem I edited the file Makefile.in removing the UnitTest++ from the line 496:
`pkgincludedir = $(incl

[2016-03-17 01:00] dconnet opened #107 "Using 1.6.0 with VS2010 fails"
Build the library (as a static library) is fine. However, when using it, all my test files fail with:
1>  TestArchive.cpp
1>c:\winsrc\libraries\unittest++\src\RequiredCheckTestReporter.h(26): error C2220: warning treated as error - no 'object' file generated
1>c:\winsrc\libraries\unittest++\src\RequiredCheckTestReporter.h(26): warning C4512: 'UnitTest::RequiredCheckTestReporter' : assignment opera

[2016-03-19 02:21] AndyM84 commented on #103
Sorry for the delay @pjohnmeyer.  The `XmlTestReporter` got me all the information that I needed, so I didn't *have* to create a new reporter.  I may still end up creating one, but probably just because I will end up having a custom format I want to massage that data into for our coverage system.  Thanks again!

    <?xml version="1.0"?>
    <unittest-results tests="22" failedtests="0" failures="0

[2016-03-19 02:21] #103 closed

[2016-03-28 22:20] fcami commented on #105
Confirmed on Fedora.
I'll apply the same fix before updating the package.

[2016-03-31 13:38] pjohnmeyer commented on #107
Thanks. Building the library probably operates at a different warning level than your project, because CMake doesn't default to such a high warning level. This is related to #10, in which I'd like to crank up the warning level (and turn on warnings as errors) for the project as a whole.

Regardless we surely want to keep at least the headers clean for just this reason. Happy to entertain a pull re

[2016-03-31 13:40] pjohnmeyer commented on #102
Due to external pressures, travel, etc., I have not been doing much on the project and will not be tagging a release in March.

[2016-04-03 03:09] RussNelson opened #108 "I see no verbose flag"
I see no verbose flag. I am looking at a library that has tests using unittest-cpp. It's reporting a message not in the library, but very likely from some other library. No idea which test is provoking that error message. It would be nice if I could run the test executable with a flag that says what test is currently running. Am I missing something in the documentation or does such a feature reall

[2016-04-03 20:12] pjohnmeyer commented on #108
The default `TestReporter` for UnitTest++ does not report progress, nor does it have a flag to do so -- assuming that default is the one in use. UnitTest++ does not create the `main` function for the test executable, so any special reporting, command-line flags, etc. are not in its purview.

It may be that the particular project has something set up for verbose reporting, but you would need to exa

[2016-04-03 20:12] #108 closed

[2016-04-06 00:23] dconnet commented on #107
I compile at level 4, warnings-as-errors. It seems an assignment operator is not needed - so disabling the warning allowed my tests to compile and perform as expected. I disable only on vc10 and lower. (untested on vc11/12)

A 'diff -c' of that:
[code]

[2016-04-20 03:11] #99 closed

[2016-04-20 03:13] pjohnmeyer commented on #105
Fixed by #109

[2016-04-20 03:13] #105 closed

[2016-04-20 15:28] stubb commented on #99
Thanks!

[2016-04-22 03:20] #102 closed

[2016-05-05 03:56] pjohnmeyer opened #112 "Version 1.6.1 has been tagged"
Today I updated all of the version information and documentation in the repository and tagged v1.6.1. All tickets and pull requests incorporated are marked with the 1.6.1 milestone.

Blog post: https://unittest-cpp.github.io/2016/05/04/version-1-6-1-released

[2016-05-05 03:57] #112 closed

[2016-05-06 09:35] grahamreeds opened #113 "coveralls code coverage"
Would it be useful to have a code coverage badge for the project?

There is a tutorial here to enable it in CMake:
http://gronlier.fr/blog/2015/01/adding-code-coverage-to-your-c-project/
and another
https://github.com/JoakimSoderberg/coveralls-cmake

The only downside would be if we had really low coverage...

[2016-05-06 14:19] pjohnmeyer commented on #113
Code coverage is always useful, badge or no, but would take some time to _accurately_ generate. Each platform & build config's tests would need to have coverage results merged in the CI pipeline. We don't even have all of the configs building in CI yet, so that would have to come first before we could generate an accurate number.

Also macro expansion is a challenge for some coverage tools and mig

[2016-05-07 03:58] pjohnmeyer commented on #56
Closing this due to inability to reproduce.

[2016-05-07 03:58] #56 closed

[2016-05-07 06:09] pjohnmeyer commented on #64
@sinjar666 please take a look at #114 and tell me if this would address this issue.

[2016-06-12 10:44] jamesjohnmcguire opened #118 "Unresolved link errors in VS 2015"
I found the following after refreshing one of my projects:
Error	LNK2019	unresolved external symbol "public: virtual __thiscall UnitTest::RequiredCheckException::~RequiredCheckException(void)" (??1RequiredCheckException@UnitTest@@UAE@XZ) referenced in function "public: virtual void * __thiscall UnitTest::RequiredCheckException::`vector deleting destructor'(unsigned int)" (??_ERequiredCheckExceptio

[2016-06-12 10:48] jamesjohnmcguire commented on #81
+1

[2016-07-13 11:49] grahamreeds opened #119 "Unittesting a bool operator fails"
I detailed the issue I am having here:
http://stackoverflow.com/questions/38330348/continuous-error-21-library-routine-called-out-of-sequence
I have since narrowed it down to a piece of code.  This passes:
[code]
But this fails (normally it is `REQUIRE CHECK(db)` but I removed it to make sure it isn't `REQUIRE` causing issues).
[code]

The db boolean check is
[code]

If you replace the `CHECK(db);

[2016-07-13 12:45] grahamreeds commented on #119
One of the eagle eyed developers on SO points out it is related to https://github.com/unittest-cpp/unittest-cpp/issues/7

[2016-07-27 10:06] grahamreeds opened #122 "No information on UNITTEST_TIME_CONSTRAINT macro in Wiki"
I had to go hunting through the source for the actual macro and guess at its usage.

[2016-08-17 03:22] #119 closed

[2016-08-17 03:49] pjohnmeyer commented on #122
The wiki is not restricted; anybody logged in can contribute... so please do!

[2016-08-17 03:51] pjohnmeyer commented on #118
Can you please explain what you mean by "refreshing one of my projects"? I cannot reproduce this error.

Thanks!

[2016-08-17 03:55] pjohnmeyer commented on #104
@toralf I consider this issue addressed by #115, although there was some disagreement on my implementation there. Do you consider that to have fixed the issue, once a release is made?

[2016-08-17 04:02] #7 closed

[2016-08-17 04:07] pjohnmeyer commented on #64
#114 gives users a way to disable the "short" macros and use longer, "namespaced" macros that are prefixed `UNITTEST_`. This is in no way perfect but does address this particular issue.

[2016-08-17 04:07] #64 closed

[2016-08-17 08:35] toralf commented on #104
well, dev-libs/unittest++-1.6.1 builds fine here since sbraz already cherry-picked a patch, so this can be closed for now IMO.

[2016-08-17 08:35] #104 closed

[2016-08-22 10:41] jamesjohnmcguire commented on #118
This happened a while ago, so my recollection may not be perfect.  But, I believe, I meant 'nuget Update-Package'.

In the first part. the files mentioned, did exist but they were not part of the .csproj, if I recall correctly.

Let me know if you would like additional information.

[2016-08-23 21:31] ecoon opened #123 "clang > 3.2 but std=c++98"
Recent changes seem to have introduced a "noexcept" call.  When building with clang (>3.2) but without -std=c++11, I get the following error:

[code]

At first glance I'm guessing this is because the noexcept(false) that this macro resolves is not valid c++98?

Thanks!

[2016-08-26 15:30] killoctal opened #125 "Parameterized tests, parameterized suites (parameters for tests)"
As discussed in the pull request [#124](https://github.com/unittest-cpp/unittest-cpp/pull/124), I proposed my implementation of parameterized tests but the PR was rejected. This means I have to improve ;)

For me the usage is really simple and convenient, you have some examples in the [tests file](https://github.com/killoctal/unittest-cpp/blob/17d6e82ca66db64d4c93e465c7f631d6c47e27aa/tests/TestPar

[2016-08-27 03:41] pjohnmeyer commented on #125
The first things I would like to understand are:

* What precisely is meant by "parameterized tests"?
* What is the use case for this feature?

I think I understand but I had a hard time figuring it out from the tests, so let me see if I have it right. The goal is to have the ability for:

* The same test to run on multiple data sets, or
* The same suite to run against multiple data sets

Is this

[2016-08-27 03:47] pjohnmeyer commented on #123
You would be correct. This needs to be based on the compiler features enabled, not the compiler itself. This will require CMake and/or autotools changes.

[2016-08-27 03:56] pjohnmeyer commented on #118
UnitTest++ does not currently have a nuget package ( see #81 ) so if somebody is bundling it in, I don't know how they are doing so. Sorry I didn't get my questions to you while it was fresh.

The only theory I have off the top of my head is that, since we use file-globbing, CMake does not detect any changes when a file is added -- so the normally dependency checking of CMake doesn't kick in.

--

[2016-08-27 04:01] pjohnmeyer commented on #12
Not hearing any outcry for this, closing.

[2016-08-27 04:01] #12 closed

[2016-08-27 06:50] killoctal commented on #125
You are right, for me it is too clear but I did not explained it well.

The goal is to be able to execute the same test with different values, from one or several user defined data sets. I call these data sets **parameter for test**. There is no relation with suites, they are usable only inside tests which use a parameter.

The execution behavior is only changed for the tests that use one (or seve

[2016-08-27 14:36] pjohnmeyer commented on #125
## Short version
I think the concept of parameterized TESTs (or perhaps, parameterized blocks of CHECKs -- a seemingly minor but significant difference) is a sound one, as long as it can be done in a way that:

* Addresses real problems with existing methods of testing against sets of data (see below)
* Is more consistent with the "look & feel" of the rest of UnitTest++
* Relies mostly on extensio

[2016-08-29 05:14] killoctal commented on #125
Hi John,
Thank you for your review and the time taken.

# Short version
I totally understand what you are pointing to, I would ask the same questions. But everything has a reason, I forced myself to respect 2 constraints :

1. _Small and easy code usage_ (developer does not want to be annoyed with implementation details)
2. _Flexibility_ (not a single way to use, compatible with C++ < 11)

**John:

[2016-08-29 05:30] killoctal commented on #83
Personally I think than unexpected exceptions in `CHECK_THROW` should not be catched in macro.
If another exception happens it is because of another code failure so test execution should just stop (maybe with a special console message like `Unexpected exception was thrown instead of SomeException`).

[2016-08-29 13:56] pjohnmeyer commented on #125
_[ Trivia note: My name is Patrick; see https://github.com/pjohnmeyer ]_

[2016-08-29 18:22] pjohnmeyer commented on #125
Let me get a few smaller points out of the way before getting to the meat of my reply in the next comment.

I think I may have been unclear in my statement. What I meant by "paying" for a feature is in runtime and memory cost. By implementing the feature based on _extension_ over _modification_, users that don't utilize this new feature won't be adversely effected.

I am aware I used C++11 in my e

[2016-08-29 20:14] killoctal commented on #125
Hi Patrick,

Sorry about your name, I deduced it from your pseudo.
My English level is medium so maybe I understand too literally what you meant.

Ok I understand better what you mean about performances. Maybe we can minimize performance impact with the following idea, what do you think about it ? :)
[code]

[2016-08-30 03:34] pjohnmeyer commented on #125
Research material from other C++ test libs for our reference:

* [Google Test - Value Parameterized Tests](https://github.com/google/googletest/blob/master/googletest/docs/AdvancedGuide.md#how-to-write-value-parameterized-tests)
* [Boost Test - Data-driven test cases](http://www.boost.org/doc/libs/1_61_0/libs/test/doc/html/boost_test/tests_organization/test_cases/test_case_generation.html)
* Catch

[2016-08-31 01:45] #107 closed

[2016-08-31 01:46] #10 closed

[2016-08-31 01:47] pjohnmeyer commented on #10
Fixed by #126 and #127.

[2016-08-31 01:48] pjohnmeyer commented on #125
A few more quick answers. I'm still pondering a bit on the bigger picture, and hoping some additional community members will weigh in.

I would find that confusing.

#### Regarding the `USING` construct above

This is a detail we can attempt to address in the design, certainly, and something your design does address to a degree.

An array etc of objects to extract the parameters from.

Good questi

[2016-08-31 09:26] jamesjohnmcguire commented on #118
Ah, yes.  Let me correct myself.  I did an svn up (which actually does a git pull) from https://github.com/unittest-cpp/unittest-cpp/trunk.  I should have also noted from the beginning that I'm building this with Visual Studio 2015 Community IDE.

Since CMake is noted as a prerequisite, leaving this closed is fine with me.

[2016-08-31 09:26] #118 closed

[2016-09-01 12:03] killoctal commented on #125
I am not sure to understand your idea. You would put all your different parameters in an array of wrappers, like the example below ?
[code]
If yes, it is not multi-parameters, it is still single-parameter. To do real multi-parameters with this approach (for testing each client with each odd and each even values) you will have to explicit all combinaisons ([3 odds] * [3 even] * [2 clients] = 18 wra

[2016-09-01 12:34] pjohnmeyer commented on #125
Not if you flatten the combinations out into a single array of `ParamsWrapper`. This can be done in advance, or using a stateful generator function if the cost of generation is too great (or the data is in a file, or...).

[2016-09-01 13:28] pjohnmeyer commented on #125
Having thought about this and the examples above more, my three pain points stand, and I'll add a 3b from @killoctal's notes and a 4th of my own.

1. Repeating the `TEST_FIXTURE(TestData,` part over and over is a bit obnoxious
2. Error messages aren't very good in this case.
3. The odds and evens vectors are either:
    a. constructed for every test, or
    b. subject to "painful global initializa

[2016-09-01 14:06] killoctal commented on #125
So why not simply rename this macro `FOR_EACH_PARAMETER` ? If not, what do you propose ?
[code]

PS: About USING, I

[2016-09-05 04:41] theDogOfPavlov opened #130 "Junit XML output"
Whilst some of the CI systems will work natively with the default unittes-cpp XML output format, others just become a grind of fudges and XSLT. For the latter, a vanilla Junit format XML output would make everything seamless.

To solve my personal use case, I wrote one as an extension of UnitTest::TestReporter rather than deferred, mostly for two reasons: the first is that for some reason I simply

[2016-09-06 07:28] grahamreeds opened #131 "CHECK_TYPE macro"
I was thinking this morning about unit testing a factory class.  With a certain set of parameters I need to check that the emitted object is of the correct type.  I think this will be similar to the CHECK_EXCEPTION macro.

[code]

[2016-09-06 09:36] grahamreeds commented on #122
Added information to the wiki.

[2016-09-06 09:36] #122 closed

[2016-09-06 14:17] pjohnmeyer commented on #131
I'm assuming that in your example `TypeA` and `TypeB` share some inheritance hierarchy, and that `DoSomethingThatShouldReturnAnObjectOfTypeA` has a co-variant return type. If I'm wrong I may not quite be understanding the use case.

In the past when I've encountered the need to check the type of an object, I just use `dynamic_cast`. This has always been good enough for my purposes. What do you pro

[2016-09-08 01:12] pjohnmeyer commented on #130
I'd be happy to include a JUnitXmlReporter in the project. It's actually _slightly_ better that you not rely on `DeferredTestReporter` because it may be going away at some point.

[2016-09-08 01:36] pjohnmeyer commented on #125
I think this would feel more like C++ and UnitTest++ if it looked more like one of the following. I think option 1 is easier to implement (and in fact I wrote a very dumb version of it locally to test out the concept, with all of the new logic in the `TEST_EACH` macro). Option 2 of course would result in less repetition in cases where the same test data is used repeatedly, but would, I believe, be

[2016-09-08 01:50] pjohnmeyer commented on #123
@ecoon Can you please provide steps to reproduce? Specifically looking for the relevant CMake and/or autotools commands and build commands.

Thanks!

[2016-09-08 17:59] theDogOfPavlov commented on #130
Cool, I'll clean the code up and add it in next week.

[2016-09-12 14:58] killoctal commented on #125
Use iterators is a great suggestion.

It still miss the ability of having more than 1 collection iterated in the same time. These macro `WITH_EACH` and `TEST_EACH` are still the same than :

    // I wrote C++11 for simplicity
    for(auto input : odds() )
        CHECK(is_odd(input));

But user should be able to do it but with `N` collections :

    for(auto input1 : foos() )
        for(auto inp

[2016-09-13 08:53] killoctal commented on #131
In my opinion, UnitTest++ is a bit poor in its assertions set. C# for example has [plenty of useful Assert.*](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.testtools.unittesting.assert.aspx)
It could be great to have some of them, like type match, greater than, lower than.

By the way I would love to have a force-fail assertion, like `FAIL("Message");` (but it is off topic).

[2016-09-13 09:12] grahamreeds commented on #131
Force fail is CHECK(false);

As for the issue the types do not have to be from a hierarchy. In my use
case it is a factory/parser taking a stream of bytes and spewing out blocks
of data in neat little bundles in a tag despatch fashion.

Sent from my Nexus 6P

On 13 Sep 2016 9:53 a.m., "Gabriel Schlozer" <notifications@github.com>
wrote:

[2016-09-13 09:43] killoctal commented on #131
It is not the same functionality, it should interrupt the test execution so it should better be `REQUIRE CHECK(false);` but this way does not allow to specify a failure message, it will show "error: CHECK(false);" which is not that expressive...

If you are not sure about the return type, it should be converted to void* before but I am not sure about the result of dynamic_cast in this case :
`CHEC

[2016-09-29 19:26] paxos1977 commented on #131
@killoctal you say "poor", I say minimalist.

[2016-09-29 19:28] paxos1977 commented on #131
@killoctal If I recall correctly, @pjohnmeyer has toyed around with adding custom failure messages to assertions in the past; perhaps you or he could sketch out what that might look like without introducing new macros?

[2016-10-04 03:23] pjohnmeyer commented on #131
Force fail with a custom message is currently achievable using `throw`, assuming you're building UnitTest++ with exception support on and are throwing a `std::exception`. That said, force fail is off the topic of the thread so let's stay on the main event.

case it is a factory/parser taking a stream of bytes and spewing out blocks
of data in neat little bundles in a tag despatch fashion.

@graham

[2016-10-05 09:47] kolesar-andras opened #133 "support for Borland C++ Builder"
I have tried to compile UnitTest++ on Borland C++ Builder 5. First error was:

    Borland C++ 5.5 for Win32 Copyright (c) 1993, 2000 Borland
    Error E2075: Incorrect command line option: -Wall

Grepped for `-Wall`, found in `CMakeLists.txt`:

    set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -Wall -Wextra -Werror")

Removed -W switches, compilation started. Unfortunately stopped later:

    e:\unitte

[2016-10-05 10:36] grahamreeds commented on #131
Pretty much as it is in my original post.  The idea revolves around messages coming in from udp source and a parser creating a tag that is passed to the dispatcher.

Actual code would look like
[code]

[2016-10-11 16:57] jumonatr opened #134 "The wiki has paths that are invalid on windows"
The ":" character found in some wiki pages creates invalid paths when cloning unittest-cpp on windows. This is troublesome for some CI systems. I'm not sure what the process is for modifying the wiki so I thought I would start by creating an issue.

Writing More Tests With the Bowling Game Kata: Test Two
Writing More Tests With the Bowling Game Kata: Tests Three through Five
Writing More Tests Wit

[2016-11-20 19:48] ryandesign opened #138 "The ChangeLog is empty and there is no NEWS file"
The ChangeLog is empty and there is no NEWS file. This is not helpful to those trying to figure out what changed.

A list of issues and pull requests, or a log of commit messages, is not a substitute for a curated NEWS file.

[2016-12-14 21:46] eljobe opened #140 "Please Release a New Version"
Sorry to file an issue for what is really more of a request, but I didn't see another forum for discussing this library's development schedule and release process.

I am really excited to see the support for CMake added in this change: unittest-cpp/unittest-cpp@e88121f

I would like to see it become part of a stable release of the library including having it installed by Homebrew on Mac OS X.  Doe

[2017-01-12 17:40] hackereg35 opened #142 "float equality problem"
Hi, I'm building a math lib for my kernel but the problem is that the tests fail even if it's equal i get thing message and smiler all the time
`error: Failure in ln_t: Expected 1.38629 but was 1.38629`
? even if i typed the full value returned from the function that i get throw `cout` which is
 `1.3862943611198906188573809483699506017728708684444427490234375` `cout` precision is 200
i still get t

[2017-01-12 19:35] grahamreeds commented on #142
Without seeing the code you are actually testing I can only speculate but
there probably is some variation in the bits. You should never compare
floating point numbers. 10.0 + 1.0 != 11.0 (probably - untested). You
 should use CHECK_CLOSE

https://github.com/unittest-cpp/unittest-cpp/wiki/Macro-and-Parameter-Reference

Sent from my Nexus 6P

On 12 Jan 2017 5:40 pm, "hackereg35" <notifications@gith

[2017-01-13 03:02] pjohnmeyer commented on #142
@grahamreeds is correct ; this is especially likely when some small errors are compounded by math operations. The examples I always use are 0.0125 and 0.025; these are very simple decimal numbers, but they cannot be represented precisely in the IEEE-754 binary floating point representation. As a result, `0.0125 + 0.0125 != 0.025`.

Closing the issue but will reopen if you can provide example code

[2017-01-13 03:02] #142 closed

[2017-01-13 18:43] pjohnmeyer commented on #131
If compile-time dispatch techniques are in play, can't the compiler just be the check here?

[code]

Or is that not what you meant?

[2017-01-13 19:00] pjohnmeyer commented on #140
As of today I am starting on getting 2.0 released; you can expect it in the next few weeks. I have in the past and will hopefully remember to issue a pull request to Homebrew.

[2017-01-13 19:00] #140 closed

[2017-01-13 19:05] pjohnmeyer commented on #138
You are right that the ChangeLog is empty; that file should be deleted and was never intended to be populated.

You can find the change log in the README here: https://github.com/unittest-cpp/unittest-cpp/blob/master/README.md#historic-release-notes

I don't really intend to add a separate NEWS file, but I will delete the ChangeLog.

[2017-01-13 19:06] pjohnmeyer commented on #134
Fixed by #135; thanks!

[2017-01-13 19:06] #134 closed

[2017-01-13 19:26] pjohnmeyer commented on #81
Not going to happen for 2.0; I started looking into this and the documentation on how to do it is... sparse. If anybody has any experience doing this, or has some good resources, I'd appreciate any help I can get.

[2017-01-13 19:28] #89 closed

[2017-01-13 20:48] pjohnmeyer commented on #96
When I release 2.0, as with 1.6.1, the ./configure file will be included in the tarball. I am also adding a small note to the top of the install file to indicate that if you're building from source you'll need to run autoreconf. I won't be going back and fixing old download packages.

[2017-01-13 21:55] #138 closed

[2017-01-13 21:55] #96 closed

[2017-01-13 22:08] pjohnmeyer opened #144 "Version 2.0.0 has been tagged"
Today I updated all of the version information and documentation in the repository and tagged v2.0.0. All tickets and pull requests incorporated are marked with the 2.0.0 milestone.

Blog post: http://unittest-cpp.github.io/2017/01/13/version-2-0-0-released.html

[2017-01-13 22:13] pjohnmeyer commented on #144
Release package has been uploaded; release complete.

[2017-01-13 22:13] #144 closed

[2017-01-14 01:22] rrthomas opened #145 "unittest's pkg-config file is incompatible with Debian/Ubuntu's"
Debian & Ubuntu currently ship UnitTest++ 1.4.0, and have added their own pkg-config file, which unfortunately does things differently in two ways:

1. The file is named in all lower case, `unittest++.pc`.
2. The include flag output is `-I/usr/include/unittest++`, so that the way to use UnitTest++ is `#include <UnitTest++.h>`. Note that the installation path is lower case, so `#include "UnitTest++

[2017-01-14 09:37] grahamreeds commented on #140
I am still a bit mystified as to what 2.x is going to give us over 1.7.

Usually you change the major number if you are going to make breaking
changes and I believe that would be a bad idea. You are threatening to
strand a lot of people on 1.6.x.

The only thing I could see that might warrant a 2.x is a total rewrite
making it less macro based but since c++ doesn't have reflection I think
(like so

[2017-01-14 15:57] pjohnmeyer commented on #140
@grahamreeds :

[Back in January](http://unittest-cpp.github.io/2016/01/28/version-1-5-and-beyond.html) I announced that the project would start using Semantic Versioning after 1.5.0.

In July you wrote [this issue](https://github.com/unittest-cpp/unittest-cpp/issues/119) which finally gave me the driver to make the change suggested in [this request](https://github.com/unittest-cpp/unittest-cpp/is

[2017-01-20 01:02] pjohnmeyer opened #147 "Research improved / simpler support for pkg-config in combination with CMake"
The portion of the CMake file dedicated to handling pkg-config seems more complex than it should be. Look for simpler solutions.

[2017-01-20 01:03] pjohnmeyer commented on #147
See #139 and #146

[2017-01-20 01:41] pjohnmeyer commented on #145
Thanks for the note. I'm tempted to say this is just a documentation issue, and we put something in the docs that say "if your distribution comes with UnitTest++ 1.4.0 pre-installed... do this thing different." Not sure there's a better way. Thoughts?

[2017-01-20 10:24] rrthomas commented on #145
My perspective is of someone writing code with tests that has to build on such systems, and on other systems, so really one has to do "both", not "different".

[2017-01-20 14:37] grahamreeds commented on #145
How can we request Ubuntu to use the modern GitHub unittest++ rather than
the old SourceForge version?

GR

Sent from my Nexus 6P

On 20 Jan 2017 3:41 am, "Patrick Johnmeyer" <notifications@github.com>
wrote:

[2017-01-20 14:59] rrthomas commented on #145
@grahamreeds There is already a Debian bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=784665

(Ubuntu gets libunittest++ from Debian). This will probably be fixed sooner or later. That is not really the problem; the problem is that old unittest++ will continue to be available in supported versions of Debian and Ubuntu for some years.

[2017-01-21 01:17] pjohnmeyer commented on #145
I'm going to assume that you are not able (for some reason) to bring along your own dependencies. Wouldn't it be fairly easy to, as part of your build process, bootstrap with some symlinks that make your project's include style work?

That said, I don't see that there is anything UnitTest++ as a project can do about this. If you are dealing with a 1.6+ UnitTest++, you could always add an additiona

[2017-01-21 18:05] rrthomas commented on #145
I'm not sure what you mean by "bring along your own dependencies". It's not common to package dependencies in source unless they're essential; easier to use system-supplied (and system-integrated) libraries and tools.

In the case of unittest++, I'd certainly not expect to package it as part of a program that uses it for tests.

Documenting "you could always add an additional include path to your

[2017-01-28 13:49] jamesjohnmcguire commented on #81
Perhaps just make a binaries folder in git with the needed *.exe, *.dll, *.h *.lib files for those people who just want to use the package and are not so interested in building it?

Maybe this should be another issue.

[2017-02-20 23:12] paxos1977 commented on #145
Just today I ran into this issue. Personally, I think the library maintainer trying to work around every OS package maintainer's choices is the road to perdition... so I fixed it in my code.

I'm using CMake for my project, I'll present the solution here.

First, I've always had the `UnitTest++.h` header included through a proxy header in my project so I could suppress warnings as I'm usually comp

[2017-02-21 12:09] rrthomas commented on #145
Here's the full horror of what we've implemented in Enchant, which uses autoconf. Note that it includes backwards-compatibility with older pkg-config, and an extra tweak to work with Arch Linux, which ships a differently-broken pkgconfig file.

    dnl ===========================================================================
    dnl Travis runs Ubuntu 14.04 LTS, which doesn't include the followi

[2017-03-09 14:21] rianquinn opened #150 "[BUG]: compilation issue on cygwin"
Currently, if you compile on the latest cygwin, you get the following errors, and since the GSL uses this library, the GSL does not compile on cygwin as a result:

[code]

[2017-03-16 23:10] kenvernaillenvub opened #151 "mingw32-make issue"
I get the following error when I run '`mingw32-make`'

In file included from src/Posix/SignalTranslator.cpp:1:0:
src/Posix/SignalTranslator.h:15:14: error: 'sigjmp_buf' does not name a type
       static sigjmp_buf* s_jumpTarget;
              ^
src/Posix/SignalTranslator.h:18:7: error: 'sigjmp_buf' does not name a type
       sigjmp_buf m_currentJumpTarget;
       ^
src/Posix/SignalTranslator.h:1

[2017-04-01 22:08] ntfshard opened #152 "Comparation between signed and unsigned with constant"
Hello

I've got $subj issue with next simple TEST:
`std::vector<int> t(4); CHECK_EQUAL(4, t.size());`

compiler: g++ 5.3.1 (Opensuse x64, package name: g++-5) with -Wall -std=c++14 keys
unittest-cpp got from git
[error.txt](https://github.com/unittest-cpp/unittest-cpp/files/888028/error.txt)

[2017-04-03 07:40] CaseyCarter commented on #152
`4` is a (signed) integer literal, and `t.size()` has an unspecified unsigned integral type. If you compare them with compiler warnings for signed/unsigned comparison enabled, you will get this warning.

Try `CHECK_EQUAL(4u, t.size())` instead.

[2017-04-03 14:50] ntfshard commented on #152
Thank you for response
This approach should help but my concern about usability.
Lines `if(4 == t.size())` and `assert(4 ==t.size)` is a legit for any compiler;
But in the another hand it could be a really hard to "beat" template argument deduction.
Could you please add some notes about it in a wiki and close the ticket.

M.

[2017-04-05 14:00] #152 closed

[2017-04-09 16:02] sinjar666 commented on #64
Sorry for being almost a year too late but had ended up doing something similar. UT_ instead of UNITTEST_  :)

[2017-04-17 09:20] mmoelle1 opened #153 "UnitTest++ not compiling with PGI compiler"
Dear John,

UnitTest++ does not compile why the PGI compiler (latest Community edition) under Linux due to the following reason. In the CMakeLists.txt file at line 36 you define
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -Wall -Wextra -Werror")`
which works well for Clang and GNU but is unsupported by the PGI compiler. I suggest to add

`# up warning level for project
if (${UTPP_AMPLIFY_WARNINGS})

[2017-04-21 06:58] tiagomacarios opened #154 "TestUnitTest++ crashes with clang-3.9 in Release mode"
Steps:
1 - install clang-3.9.1
2 - compile in release mode: `cmake -DCMAKE_BUILD_TYPE=Release ..`
3 - build `make`

TestUnitTest++ will crash:
[code]

Here is a gdb bt:
[code]

The issue showed up on [travis](https://travis-ci.org/tiagomacarios/GSL/jobs/224218582) first, so it is not related to my setup AFAICT. Weirdly enough this is the only configuration that has the problem...

[2017-05-21 15:53] vicentebolea commented on #145
We had a similar discussion in the OpenSuse bugzilla: https://bugzilla.suse.com/show_bug.cgi?id=1010112

[2017-07-01 02:05] pjohnmeyer opened #156 "placeholder"

[2017-07-03 14:02] grahamreeds opened #157 "Issue with tuples"
`CHECK_EQUAL` doesn't support tuples ie:

[code]

returns a stream of template vomit but the crux seems to be that there isn't a stream operator for `std::tuple`
[code]

[2017-07-03 15:46] grahamreeds commented on #156
As I had noted previously that I didn't believe UnitTest++ needed a 2.x series and that a 2.x line would only be for breaking previous tests - essentially what you class as v3.

The reasons I use UnitTest++:

- I have a corpus of several thousand test at this and previous companies I have worked at.
- I am comfortable with UT++
- I use compilers that are generally old (currently embedded system th

[2017-07-03 19:16] pjohnmeyer commented on #156
Thanks for the feedback. I think a lot of the people who use UnitTest++ use it for similar reasons; it's stable and "just works." I'll be interested to hear from others as well; I may even throw together a survey and see if I can get anything concrete.

I don't want to revisit the conversation about 2.x; the how and why of that breaking change was [thoroughly covered.](https://github.com/unittest-

[2017-07-03 19:27] martinmoene commented on #156
One nice thing about the macros tough, is that they tend to stand out from the rest of the code.

[2017-07-04 07:50] grahamreeds commented on #156
To be honest, having worked with MsTest (C#) and Mocha/Chai (Node) I have to say that I don't mind mixed case testing functions.  It would be hard to get something like Chai in C++ though:
`function(value, err) { value.should.be.greater.than.zero(); }`

[2017-07-05 07:57] grahamreeds commented on #157
Similarly, pairs aren't supported either.
[code]

[2017-07-05 20:52] rlabrecque commented on #156
What I would like to know is what real improvements you would like to bring going forward? What features would you need to accomplish this?

The only reason why I went with UnitTest++ is the simplicity, It does everything I need it to and nothing else. I think it could actually even be simpiler. I'd love it if it was a single header library for example like these: https://github.com/nothings/singl

[2017-07-05 21:37] martinmoene commented on #156
@rlabrecque perhaps you're in for [_lest_](https://github.com/martinmoene/lest) (a '[CATCH](https://github.com/philsquared/Catch) lite') then?

[2017-07-06 07:31] grahamreeds commented on #156
My feeling is that you get simplicity from including a single header file, but every time you compile you have build that file whereas with a lib, the building has been done already.

[2017-07-06 08:01] martinmoene commented on #156
That's correct in case of _lest_, not so much in case of _CATCH_.

In case of CATCH-like frameworks, the simplicity also comes in the form of [fewer assertion macros](https://github.com/philsquared/Catch/blob/master/docs/assertions.md) and of [locating fixtures at the spot of the test code itself](https://github.com/philsquared/Catch/blob/master/docs/test-cases-and-sections.md#test-cases-and-secti

[2017-07-06 08:13] martinmoene opened #158 "Mention C++ standard(s) supported in title?"
To get a better result for UnitTest++ in [searches for C++ (98) test frameworks](https://github.com/search?q=language%3AC%2B%2B+98+test+framework&type=Repositories&ref=advsearch) it likely helps to include the C++ standard(s) it supports.

For example:
[code]
or
[code]

[2017-07-06 08:24] martinmoene opened #159 "Mention relevant topics below title"
Below the repository's title there's room to mention topics that hold for UnitTest++, e.g.
[code]
See for example [lest](https://github.com/martinmoene/lest).

[2017-07-07 23:50] pjohnmeyer commented on #156
@rlabrecque Good question. I'm not sure how deep I want to go into it b/c I don't like publishing ideas before I actually have time to work on them, but a sampling of the things bubbling around have been:

* Add a single-file option, or make it the only option (I am a big fan of Catch in a lot of ways, and this is one of them)
* Make it easier to write and use custom `TestReporter` classes
* Add c

[2017-07-08 07:28] martinmoene opened #160 "In CMakeLists.txt, prefer if(MSVC) over if(${CMAKE_CXX_COMPILER_ID}...)"
Use `if(MSVC)`, just like `if(MSVC14)` in a following line of [`CMakeLists.txt`](https://github.com/unittest-cpp/unittest-cpp/blob/ee996164f24a6aed00dda0150c6d0965bac41e92/CMakeLists.txt#L16).

See e.g. Stackoverflow [What's the CMake syntax to set and use variables?](https://stackoverflow.com/a/31044116/437272), section *Recursive substitutions*.

[2017-07-11 03:59] pjohnmeyer commented on #160
Fixed by #161

[2017-07-11 03:59] #160 closed

[2017-09-10 09:13] albert-tomanek opened #162 "Compatible mocking framework"
What mocking/stubbing framework would you recommend I use with UnitTest++?

[2017-09-10 09:21] grahamreeds commented on #162
I use HippoMocks[1] though I have been looking at switching to FakeIt[2]
but not done anything strenuous with it yet.

GR

[1] http://hippomocks.com/Main_Page
[2] https://github.com/eranpeer/FakeIt

Sent from my Nexus 10

On 10 Sep 2017 10:13, "Albert Tomanek" <notifications@github.com> wrote:

[2017-09-10 09:35] albert-tomanek commented on #162
Thanks! I'll have a look at those.

[2017-09-10 19:41] #162 closed

[2017-10-09 16:07] raxod502 opened #164 "Can't install using CMake on macOS using Makefiles"
I cloned `v2.0.0` of this repository and attempted to follow the instructions in [Building Using CMake](https://github.com/unittest-cpp/unittest-cpp/wiki/Building-Using-CMake), which as far as I can tell is how you're supposed to build this project(?). However, I received the following error:

[code]

The full log is as follows:

<details>
<p>

[code]
</p>
</details>

<br>
I am sure this is a simp

[2017-10-14 00:46] pjohnmeyer commented on #164
@raxod502 I'm not sure exactly what happened there -- one thing I wonder is, does `CMAKE_INSTALL_PREFIX` need to be set for both the initial build and the install for it to work correctly? If so, the instructions should be updated.

Note if you're just going to _use_ UnitTest++ 2.0, you can also install via Homebrew.

[2017-10-14 01:04] raxod502 commented on #164
For some reason, specifying `CMAKE_INSTALL_PREFIX` at build time causes CMake to refuse to build anything. As follows:

[code]

<details>
<p>

[code]

</p>
</summary>

Agreed about Homebrew; however, I shy away from using the system package manager to install my C++ dependencies, as it imposes a burden of system setup on the developers of my library, and a burden of extreme backwards compatibility

[2017-10-14 01:15] pjohnmeyer commented on #164
Makes sense. My only other suggestion would be to export CMAKE_INSTALL_PREFIX as an environment variable before doing any CMake "stuff", instead of passing it as a -D flag -- I would not expect this to behave differently, but that is how we used CMAKE_INSTALL_PREFIX on one of my past projects.

[2017-10-14 06:37] raxod502 commented on #164
That doesn't work either. Specifically, CMake does not accept the variable at all, and instead installs to `/usr/local`.

<details>

<p>

[code]

</p>

</details>

<br>
According to [this StackOverflow question](https://stackoverflow.com/q/11840482/3538165), we shouldn't be surprised that you can't set `CMAKE_INSTALL_PREFIX` from an environment variable.

[2017-10-14 06:41] raxod502 commented on #164
Note that I can successfully build and install `unittest-cpp` to a local directory using the method in Homebrew's formula:

[code]

I am not sure if this is intended usage, however.

[2017-11-16 04:12] neacsum opened #165 "A rewrite of UnitTest++"
I've just finished a major rewrite of the original UnitTest++. You can check it out at https://github.com/neacsum/utpp. IMHO it is much simpler than the original but maintains most of the original interface. Please take a look and let me know what you think.

Mircea

[2017-11-17 15:00] grahamreeds commented on #165
Without digging through the source, what does this add?

Sent from my Nexus 6P

On 16 Nov 2017 04:12, "Mircea Neacsu" <notifications@github.com> wrote:

I've just finished a major rewrite of the original UnitTest++. You can
check it out at https://github.com/neacsum/utpp. IMHO it is much simpler
than the original but maintains most of the original interface. Please take
a look and let me know what

[2017-11-17 15:51] cecilios commented on #165
Is there any summary of the API differences between UnitTest++ and UTPP? I would like to know what changes I will have to do for moving to UTPP. Thanks.

[2017-11-17 16:13] neacsum commented on #165
@grahamreeds It doesn't add, it subtracts. It has far less code than original and much simpler architecture. The only addition is documentation.

@cecilios CHECK_THROW and CHECK_THROW_EQUAL macros have the parameter order swapped. It is now CHECK_THROW(ExpectedExceptionType, expression) when it used to be CHECK_THROW (expression, ExpectedExceptionType).
This was done to make them consistent with C

[2017-11-17 18:29] cecilios commented on #165
Thank for the information.

Another question. Currently I use UnitTest++ for my project (a library). When building the library, the unit tests are also built and run. But the build process relies on finding package UnitTest++ not on providing the sources of UnitTest++. What is going to be the situation with UTPP? Is UTPP going to be a different package or just the next release of UnitTest++?

[2017-11-17 20:26] neacsum commented on #165
@cecilios
1. I'm using it exacly as you do. I've added a doc page about usage in real world projects: https://neacsum.github.io/utpp/html/md_using.html

2. I am not one of the maintainers of UnitTest++ so I cannot say what's going to happen. I've seen a discussion about future development directions so maybe they will decide to base it on UTPP. Who knows! One problem with UTPP is that it is only a

[2018-02-07 00:41] JadeMatrix opened #168 "autoconf-based installation doesn't install UnitTest++Config.cmake"
This doesn't seem like it would even make sense to do at first, but apparently many package managers use UnitTest++'s `autoconf` build for packaging and/or installing.  This means that UnitTest++ has to be installed from source in order to use CMake's `FIND_PACKAGE( ... )` as suggested in [Adding into a CMake Project](https://github.com/unittest-cpp/unittest-cpp/wiki/Adding-into-a-CMake-Project).

[2018-07-18 07:58] Smilediver opened #169 "DeferredTestReporter is missing ReportSummary method."
`DeferredTestReporter` is missing an implementation for `virtual void ReportSummary(int totalTestCount, int failedTestCount, int failureCount, float secondsElapsed)` method. It makes the class abstract, and unusable.

[2018-07-18 08:42] grahamreeds commented on #169
What version are you using?

Do you have a use case that proves this issue?

Would you fancy doing a PR that fixes this?

GR

Sent from my Nexus 6P

On Wed, 18 Jul 2018, 08:58 Smilediver, <notifications@github.com> wrote:

[2018-07-18 08:53] Smilediver commented on #169
Latest master. For repro just declare a variable like `DeferredTestReporter reporter;`.

[2018-07-18 09:56] grahamreeds commented on #169
Not having used the DeferredTestReporter and looking just at the source and tests it looks like you have to provide the ReportSummary function.

The DeferredTestReporter creates a list of results to do with what you will.

What are you trying to achieve?

[2018-07-18 15:11] Smilediver commented on #169
I'm running all tests manually, and I need a way to get their execution results. It seems like `DeferredTestReporter` is the way to go, but the lack of `ReportSummary` implementation forces one to create a custom class just to add a dummy empty method.

[2018-09-13 05:50] jontte75 commented on #130
Hello, any news on this one?
I'm working with a project, where we use unittest-cpp, and would need a XML-reporter which produces JUnit XML-format (because of Jenkins)

[2019-01-29 11:13] PauliusLiekis opened #171 "What's the right way to check that assert has happened?"
We defined our assert as:

`#define FATMAP_ASSERT(x) { if (!(x)) { throw UnitTest::AssertException(std::string("Assert failed: (") + #x + ") at " + __FUNCTION__); } }`

This allows us to use CHECK_ASSERT in the UnitTests.

But turns out that if you do FATMAP_ASSERT(false) anywhere outside of CHECK_ASSERT or CHECK statement, then it will fail silently even in Debug mode. It seems to be caused by th

[2019-08-11 18:48] ped7g commented on #165
How does that demonstrate, that it is windows project? Did you try to build it in other environment and what failed? The standard C++ doesn't have any windows specific things, so if it's mostly standard C++, it should work... (I admit I didn't even take a look yet, I have been using UnitTest++ for last ... hmm.. 5-7 years already? ... but in its initial incarnation ... now I'm looking where it did

[2019-08-11 19:25] neacsum commented on #165
What I meant is that I didn't bother to build it in another environment because... well, I'm a Windows person. The code itself is platform agnostic and can be used in any environment. In the meantime I've added a makefile for gcc so you can use it anywhere where make and gcc run.

[2019-08-12 09:58] grahamreeds commented on #165
I used UnitTest++ on a Linux project (Ubuntu 14_04, GCC4.8).

GR

On Sun, 11 Aug 2019, 20:25 Mircea Neacsu, <notifications@github.com> wrote:

[2019-10-21 19:44] Botched135 commented on #130
I will start taking a look at this as we have the same requirements

[2019-10-23 09:20] Botched135 commented on #130
A question for @pjohnmeyer . Can I base it off DeferredTestReporter or is it still the plan that it might be removed at some point?

[2019-11-23 01:53] musteresel opened #174 "MemoryOutStream MUST (probably) call a base class constructor"
`MemoryOutStream` derives from `std::ostringstream`.  **The later does not have a default (no argument) constructor before C++11.** *Apparently* the single argument constructor with a default value does not count (didn't look into the standard, but that's what's GCC Version 5.4.0 says. Clang 7.0.0 seems to disagree, however).

Therefore later in `GetText()` when it calls `this->str()` I get a segm

[2019-11-24 18:49] musteresel commented on #174
https://stackoverflow.com/q/59003865/1116364

Seem's I've drawn conclusions too early. Not calling the base constructor is not the cause of the issue here.  Might be a simple ABI (C++11 string vs pre-C++11 string) mismatch on my (travis build) site as noted in one of the comments.  I look if that solves the issue, and if it does I'll close this here because there cannot be done much against an ABI

[2020-04-14 18:10] vanlankveldthijs opened #177 "UNITTEST_ENABLE_SHORT_MACROS 0"
In several places, preprocessor definition checks mention "#error [X] already defined, re-configure with UNITTEST_ENABLE_SHORT_MACROS set to 0 and use UNITTEST_[X] instead".

It seems like this refers to some earlier implementation and UNITTEST_DISABLE_SHORT_MACROS should be defined in UnitTest++/Config.h instead.

However, enabling this definition in the config file breaks basically all the tests

[2020-04-15 09:30] arctrong commented on #164
Had the same problem. The solution is: add `-DCMAKE_INSTALL_PREFIX` on the generation step:
`cmake -DCMAKE_INSTALL_PREFIX=<my_location> -G "MinGW Makefiles" ../`
On the installation step just do what the instruction says:
`cmake --build ./ --target install`

[2020-05-20 11:01] lofcek opened #178 "Signal handling"
Is there any way how not to handle signals on Linux? It looks that Unittest++ always try to suppress many signals, that appear during running the test. It is not always what we want, especially for SIGSEGV.

I have one teoretical problem - that if some data in the memory are corrupted, next test will be running as undefined behavior.

My practical problem is deadlock. This was caused by crash in t

[2020-05-25 21:49] pjohnmeyer commented on #178
@lofcek I don't believe there is an easy way, presently, to disable UnitTest++'s signal trapping behavior.

If you think it would have value, I would welcome a pull request, but I'd like to see some discussion hear about how folks would implement it first.

[2020-06-16 10:55] RunaIris opened #179 "Building UnitTest++ in Ubuntu for Windows: tests fail"
I am installing UnitTest++ as a third party library as part of the installation process for Amanzi/ATS.

The build process of UnitTest++ fails. The error log (attached below) indicates several tests have failed. At the moment I can only install Amanzi/ATS if I exclude the tests for UnitTest++ from the build process. Then everything seems to work fine. The developers of Amazi/ATS asked me to report

[2020-08-18 00:47] pjohnmeyer opened #180 "Official project hiatus until 1 October, 2020"
I am updating the README shortly to announce this hiatus. Those who follow this project know that maintenance has been rare and sporadic for a while now. As of today I am _officially_ announcing a hiatus, as opposed to just letting things continue to linger.

On or about 1 October I will announce my plans for the project going forward. I do not know what those are yet.

Subscribe to this issue for

[2020-10-02 00:55] pjohnmeyer commented on #180
Extended to 15 October.

[2020-11-13 05:25] pjohnmeyer commented on #180
I am currently of two minds.

###  1. Archive the project.
There are lots of fine alternatives out there, and UnitTest++ does what it does. It works for the people it works for, but it really doesn't _need_ to be worked on anymore. There are many good alternatives out there such as Catch 2, doctest, Google Test, etc. for folks that want something newer and shinier. If you need to add something to

[2020-11-13 14:51] pjohnmeyer commented on #180
Forgot to unlock conversation after the previous update; unlocked now.

[2020-11-14 09:07] cecilios commented on #180
Thank you for your time maintaining this project and for your thoughts. I perfectly understand your frustrations with cmake, compilers, other build tools and platform differences, as that's my frustration too with my projects!

I use UnitTest++ in my projects. It has been working perfectly for me many many years and I never found any issue. The only need I once had was documentation to write a cus

[2020-11-22 21:40] spaulaus commented on #180
I too would like to express my gratitude for your work on this project. Being such a light weight library has been incredibly helpful to me. I too think Option 2 is a low maintenance idea. It's low overhead to include a few additional files in a project.

[2020-12-04 03:30] ohz10 commented on #180
@pjohnmeyer, thanks for guiding the project these last couple of years. After all these years, this is still my favorite minimalist test framework for C++. I would prefer to see option 2 adopted.

[2021-01-08 20:06] ghost opened #182 "cmake files are not included in the released archive."

[2021-01-08 21:45] #182 closed, assigned to nobody

[2021-01-16 11:44] ghost opened #183 "cmake and autoconfig do not generate the same pkgconfig file."
autoconfig set includedir to prefix/include while cmake set it to ${CMAKE_INSTALL_PREFIX}/include/UnitTest++
that brings an incompatibility between them.
should I include files as <UnitTest++> or <UnitTest++/UnitTest++.h>?

[2021-01-19 20:32] thedrbubba commented on #180
@pjohnmeyer I, too, want to think you for all you have done for UT++. I started using it back in 2007. We still use it on that project I started using it on. We have had very few issues with UT++ over all these years.

FWIW,
I would prefer the see option 2 adopted.

[2021-01-24 18:10] pjohnmeyer commented on #180
Thanks @cecilios , @spaulaus , @SenorAgosto , and @thedrbubba for the kind words and feedback. I spent a few hours tinkering with option 2 last night and I felt somewhat reinvigorated by it. I'm not saying it's going to happen, but I'm not saying it's _**not**_ going to happen.

[2021-02-08 08:54] #183 closed, assigned to nobody

[2021-02-19 12:20] filiatra commented on #180
@pjohnmeyer  Thank you for UT++, have been using it for many years; it is an excellent tool for making software.
I am skeptic about making a single implementation file. Reorganizing and cleaning up the repository yes, but a single header for all the classes will make it harder to maintain but also to contribute to...
Removing autotools completely and keeping few clean simple cmakefiles would be my

[2021-02-19 13:02] grahamreeds commented on #180
The usual way of making a single header file is via a post process that
concatenates the files together.

GR

Sent from my Nexus 10

On Fri, 19 Feb 2021, 12:21 Angelos Mantzaflaris (Άγγελος Μαντζαφλάρης), <
notifications@github.com> wrote:

[2021-04-30 18:19] CanastraRF opened #184 "Some minor modification"
My compiler report, that ~MemoryOutStream() {} in MemoryOutStream.h should be virtual.

In Checks.h and others:
size_t should be in std namespace. Otherwise my compiler report errors when UNITTEST_USE_CUSTOM_STREAMS is defined.

RequiredCheckTestReporter.cpp:
The file should end with a linebreak.

RetoFelix

[2022-02-21 00:13] xparq commented on #180
Late to a party that's long over, too, but just to make it explicit: you don't need to ever archive the project. It's fine as-is, just keep it available, please. I'm actually new to it (seen it embedded in some other prj). Looks like a nice, clean, self-containing, balanced package (with somehow a better vibe than e.g. Catch2, which I've always postponed to integrate).

As to CMake: for one, I'm r

[2022-02-21 05:35] gregkrsak commented on #180
👍 Good write-up. I'm really happy I'm not the only person who thinks that
about CMake.

On Sun, Feb 20, 2022, 4:13 PM Szabi ***@***.***> wrote:

[2022-05-14 02:52] BeenEncoded commented on #180
This was my unit test library of choice for a long time due to its simplicity.  Many thanks for your contributions @pjohnmeyer .

[2022-06-05 17:43] heyx3 opened #187 "Warnings of high stack usage in MSVC"
Perhaps I'm using this library incorrectly. But when I'm making tests for fairly-simple functions, I get warnings from Visual Studio about using tens of thousands of bytes of stack memory.

Here is an example, of some tests I wrote for a function that counts the 1 bits in an integer. VS warns that this macro uses 63,384 bytes of stack. I can get rid of the warnings by breaking the test into smalle

[2022-06-05 18:34] ohz10 commented on #187
Try breaking your checks into multiple test cases instead of putting everything in a single test case.

[2022-06-05 18:58] cecilios commented on #187
And try to discard that the problem is not in `CountBits()` method

[2022-06-05 19:23] heyx3 commented on #187
Here is the implementation of `CountBits()` for reference:

[code]

I do have them broken up into individual cases, I'm just confused why that is necessary for code that operates on 1-8 bytes, and uses a static 16-byte lookup table.

EDIT: I tried moved all those function calls into `main()`, and did not get a stack warning for it.

[2022-06-09 17:49] pjohnmeyer commented on #187
It is pretty unusual to have this many `CHECK` calls in a single test, regardless of the framework, and breaking it up is probably the right solution -- not just because of the warning, but because the tests will generate more useful output. At a minimum I'd probably go for `TEST(CountBitsUInt8)`, `TEST(CountBitsUInt16)`, etc., so when a failure occurs you'll know what type(s) are failing at a gla

[2022-06-09 17:49] #187 closed, assigned to nobody

[2022-07-01 17:26] adamrobcarter commented on #151
am also having this issue